<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedSchedule</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-bg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MedSchedule</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#que-es">¿Qué es MedSchedule?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#como">¿Cómo Funciona?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#descarga">Descarga</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <main class="container-fluid wrapper d-flex flex-column">
        <div id="inicio" class="row row1">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center align-items-center">
                <img style="width:80%;" src="{% static 'img/mock1.png' %}" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <div class="d-flex flex-column align-items-center">
                    <img class="img-logo" src="{% static 'img/medsch-logo.png' %}" alt="logo">
                </div>
                <div class="descripcion-txt white-txt">
                    <h5>La aplicación que te permite gestionar consultas médicas de manera fácil y rápida desde tu celular.</h5>
                    <h6>Manten organizadas tus consultas médicas donde quieras</h6>
                </div>
            </div>
        </div>
        <div id="que-es" class="row row2">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <div class="descripcion-txt">
                    <h3>¿Qué es MedSchedule?</h3>
                    <h5>MedSchedule es un sistema de gestión de consultas médicas que permite a sus pacientes agendar horas de manera fácil desde su teléfono a cualquier hora del día. Permite también organizar los horarios de cada médico y el tamaño de sus bloques horarios de forma cómoda y revisar los pacientes del día.</h5>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <img style="width:70%;" src="{% static 'img/mock2.png' %}" alt="">
            </div>
        </div>
        <div id="como" class="row row3">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <div id="imgCarousel" class="carousel slide carousel-h" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img style="width:50%;" src="{% static 'img/mock4.png' %}" alt="">
                            </div>
                            
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img style="width:50%;" src="{% static 'img/mock3.png' %}" alt="">
                            </div>
                            
                        </div>
                         <div class="carousel-item">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img style="width:50%;" src="{% static 'img/mock5.png' %}" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <button class="carousel-control-prev w-auto" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next w-auto" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <div id="txtCarousel" class="carousel slide carousel-h" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="desc-carousel d-flex flex-column justify-content-center white-txt">
                                <h3>Vista Médico</h3>
                                <p>El Médico puede crear agendas horarias para sus consultas, definiendo sus horas de inicio y término, estableciendo el tiempo de sus bloques y los días laborales. Además, puede administrar a sus pacientes agendados.</p>    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="desc-carousel d-flex flex-column justify-content-center white-txt">
                                <h3>Vista Paciente</h3>
                                <p>El Paciente crea su cuenta de usuario y puede buscar a su médico por nombre o según la especialidad que requiera. Verá la lista de los profesionales y elegir los horarios que estos tengan disponibles. Puede seguir sus consultas agendadas y cancelarlas si es que tiene algún inconveniente.</p>
                            </div>
                        </div>
                         <div class="carousel-item">
                            <div class="desc-carousel d-flex flex-column justify-content-center white-txt">
                                <h3>Vista Administrador</h3>
                                <p>El Administrador es encargado de revisar las cuentas de usuario, crear nuevas cuentas de Médico y administrar la Base de Datos según las necesidades de la clinica.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev w-auto" type="button" data-bs-target="#txtCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next w-auto" type="button" data-bs-target="#txtCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </div>
        <div id="descarga" class="row row4">
            {% if pc_user %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <div class="descripcion-txt">
                    <h3>Descargalo Aquí</h3>
                    <h5>Utiliza este código QR para descargar el APK directo en tu teléfono.</h5>
                    <h6>Recuerda que debes tener activada la instalación de aplicaciones externas en tu teléfono.</h6>
                    <h6>Disponible solo para Android 12 o superior.</h6>
                    {% load static %}
                    <img class="img-icon" src="{% static 'img/androidlogoms.png' %}" alt="Solo para Android">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center align-items-center">
                <img class="img-qr" src="{% static 'img/frame.png' %}" alt="">
            </div>
            {% endif %}
            {% if mobile_user %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center">
                <div class="descripcion-txt">
                    <h3>Descargalo Aquí</h3>
                    <h5>Toca el botón abajo para descargar el APK.</h5>
                    <h6>Recuerda que debes tener activado la instalación de aplicaciones externas.</h6>
                    <h6>Disponible solo para Android 12 o superior.</h6>
                    {% load static %}
                    <img class="img-icon" src="{% static 'img/androidlogoms.png' %}" alt="Solo para Android">
                </div>
                
            </div>
            {% if os == "Android" %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-column justify-content-center align-items-center">
                <a class="d-flex flex-column align-items-center" href="https://github.com/mossycl/MedSchedule/releases/download/release/medschedule-0.8.1.apk">
                    <img class="img-dw" src="{% static 'img/descargams.png' %}" alt="">
                </a>
                
            </div>
            {% elif os == "iOS" %}
                <h4 style="text-align: center">Esta aplicación solo está disponible para Android</h4>
            {% endif %}
            {% endif %}
        </div> 
    </main>
    <footer class="d-flex flex-column justify-content-center align-items-center">
        <p>Creado por Diego Fernández - Eduardo Roldán</p>
        <p>Diciembre 2024</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>